WebSitewcfclient/App_WebReferences/ServiceReference1/Carservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Carrental" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Carrental" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="car" nillable="true" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcar" nillable="true" type="tns:ArrayOfcar" />
  <xs:complexType name="car">
    <xs:sequence>
      <xs:element minOccurs="0" name="carid" type="xs:int" />
      <xs:element minOccurs="0" name="carname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carnum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cartype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fare" type="xs:int" />
      <xs:element minOccurs="0" name="seatingcap" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="car" nillable="true" type="tns:car" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="UserCar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="carid" type="xs:int" />
      <xs:element minOccurs="0" name="carname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carnum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cartype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fare" type="xs:int" />
      <xs:element minOccurs="0" name="seatingcap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCar" nillable="true" type="tns:UserCar" />
  <xs:complexType name="ArrayOfUserCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCar" nillable="true" type="tns:UserCar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCar" nillable="true" type="tns:ArrayOfUserCar" />
</xs:schema>